@charset "UTF-8";

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 400px;
  height: 200px;
}
.square {
  width: 50%;
  height: 100%;
  color: pink;
}
.fl {
  float: left;
}
.p-20 {
  padding: 20px;
}
.clear {
  clear: both;
}
.bg-green {
  background-color: green;
}
.bg-yellow {
  background-color: yellow;
}
.bg-blue {
  background-color: blue;
}
.bg-red {
  background-color: red;
}